.accordion {
    display: inline-flex;
    align-items: center; 
    background-color: white;
    color: lightskyblue;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    margin-bottom: 0.6rem;
    border-radius: 10px;
    box-shadow: 4px 4px 10px lightblue;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: darkblue;
    color: white
  }
  

  .panel {
    padding: 0 18px;
    background-color: white;
    display: block;
    overflow: hidden;
  }


  .accordion:before {
    content: '\25B6'; /* Unicode character for "plus" sign (+) */
    font-size: 1rem;
    color: lightskyblue;
    float: left;
    margin-right: 1rem;
  }
  
  .active:before {
    content: "\25BC"; /* Unicode character for "minus" sign (-) */
    color: white
  }